In [ ]:
# Function to find the greatest of two numbers
def find_greatest(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

# Input from the user
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))

# Find the greatest number
greatest = find_greatest(number1, number2)

# Output the result
print("The greatest number is:", greatest)

Enter the first number: 12
Enter the second number: 46
The greatest number is: 46.0

In [ ]:
# Creating an array (list) in Python
numbers = [1, 2, 3, 4, 5]
print("Array:", numbers)

Array: [1, 2, 3, 4, 5]

In [ ]:
# Accessing elements in an array
first_element = numbers[0]
last_element = numbers[-1]
print("First element:", first_element)
print("Last element:", last_element)

First element: 1
Last element: 5

In [ ]:
# Adding elements to an array
numbers.append(6)      # Adds to the end of the array
numbers.insert(2, 10)  # Inserts 10 at index 2
print("Array after adding elements:", numbers)

Array after adding elements: [1, 2, 10, 3, 4, 5, 6]

In [ ]:
# Removing elements from an array
numbers.remove(10)     # Removes the first occurrence of 10
del numbers[0]         # Removes the element at index 0
print("Array after removing elements:", numbers)

Array after removing elements: [2, 3, 4, 5, 6]

In [ ]:
# Slicing an array
sub_array = numbers[1:4]  # Gets elements from index 1 to 3
print("Sliced array:", sub_array)

Sliced array: [3, 4, 5]

In [ ]:
# Finding the length of an array
length = len(numbers)
print("Length of the array:", length)

Length of the array: 5

In [ ]:
# Iterating through an array
for number in numbers:
    print(number)

2
3
4
5
6

In [ ]:
# Sorting an array
numbers.sort()         # Sorts the array in ascending order
print("Sorted array:", numbers)

Sorted array: [2, 3, 4, 5, 6]

In [ ]:
# Finding the maximum and minimum values
max_value = max(numbers)
min_value = min(numbers)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 6
Minimum value: 2

In [ ]:
# Summing all elements in an array
total_sum = sum(numbers)
print("Sum of all elements:", total_sum)

Sum of all elements: 20

In [ ]:
# List comprehension to create a new array with squared values
squared_numbers = [x**2 for x in numbers]
print("Squared numbers:", squared_numbers)

Squared numbers: [4, 9, 16, 25, 36]

### Working with List of Elements

In [ ]:
def reverse_list(lst):
    return lst[::-1]

# Example usage
print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [ ]:
def count_occurrences(lst, element):
    return lst.count(element)

# Example usage
print(count_occurrences([1, 2, 3, 2, 1, 2], 2))

3

In [ ]:
def find_duplicates(lst):
    return list(set([x for x in lst if lst.count(x) > 1]))

# Example usage
print(find_duplicates([1, 2, 3, 2, 1, 4, 5]))

[1, 2]

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))

# Example usage
print(remove_duplicates([1, 2, 3, 2, 1, 4, 5]))

[1, 2, 3, 4, 5]

In [ ]:
def merge_lists(lst1, lst2):
    return lst1 + lst2

# Example usage
print(merge_lists([1, 2, 3], [4, 5, 6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
def sort_list(lst):
    return sorted(lst)

# Example usage
print(sort_list([5, 2, 9, 1, 5, 6]))

[1, 2, 5, 5, 6, 9]

In [ ]:
def find_largest_smallest(lst):
    return (max(lst), min(lst))

# Example usage
print(find_largest_smallest([3, 1, 4, 1, 5, 9, 2, 6]))

(9, 1)

In [ ]:
def sum_elements(lst):
    return sum(lst)

# Example usage
print(sum_elements([1, 2, 3, 4, 5]))

15

OS File operations

In [ ]:

import os

# Specify the directory to list
directory = '/content'

# List all files and directories
contents = os.listdir(directory)
for item in contents:
    print(item)

.config
sample_data

In [ ]:

import os

# Create a new directory
new_dir = 'test_dir'
os.mkdir(new_dir)

# Create a new file in the directory and write some text
file_path = os.path.join(new_dir, 'test_file.txt')
with open(file_path, 'w') as file:
    file.write('Hello, world!')

# Read and print the content of the file
with open(file_path, 'r') as file:
    content = file.read()
    print(content)

Hello, world!

In [ ]:

import os

# Original file name and new file name
original_file = 'content/test_file.txt'
new_file = 'renamed_file.txt'

# Rename the file
os.rename(original_file, new_file)

# Delete the file
os.remove(new_file)

FileNotFoundError: [Errno 2] No such file or directory: 'content/test_file.txt' -> 'renamed_file.txt'

In [ ]:

import os

# File and directory to check
file_path = 'example.txt'
dir_path = 'example_dir'

# Check if file exists
if os.path.exists(file_path):
    print(f"The file {file_path} exists.")
else:
    print(f"The file {file_path} does not exist.")

# Check if directory exists
if os.path.exists(dir_path):
    print(f"The directory {dir_path} exists.")
else:
    print(f"The directory {dir_path} does not exist.")

The file example.txt does not exist.
The directory example_dir does not exist.

In [ ]:

import os

# Get the current working directory
original_dir = os.getcwd()
print(f"Original directory: {original_dir}")

# Change to the new directory
new_dir = 'test_dir'
os.chdir(new_dir)
print(f"Changed to directory: {new_dir}")

# List the files in the new directory
files = os.listdir('.')
print(f"Files in {new_dir}: {files}")

# Change back to the original directory
os.chdir(original_dir)
print(f"Back to original directory: {original_dir}")

Original directory: /content
Changed to directory: test_dir
Files in test_dir: ['test_file.txt']
Back to original directory: /content

Simple Python Program

In [ ]:

# Function to calculate the area of a square
def calculate_area_of_square(side_length):
    """Returns the area of a square given the side length."""
    area = side_length ** 2
    return area

# Main part of the program
def main():
    # Get the side length of the square from the user
    side_length = float(input("Enter the side length of the square: "))

    # Call the function to calculate the area
    area = calculate_area_of_square(side_length)

    # Display the result
    print(f"The area of the square is: {area}")

# Call the main function
if __name__ == "__main__":
    main()

Enter the side length of the square: 4
The area of the square is: 16.0

In [ ]:

import os

# Define the name of the file
file_name = "example.txt"

# Create and write to the file
with open(file_name, 'w') as file:
    file.write("Hello, this is a text file created in Python.\n")
    file.write("You can write multiple lines.\n")
    file.write("This is the third line.")

# Check if the file has been created
if os.path.exists(file_name):
    print(f"The file '{file_name}' has been successfully created.")
else:
    print(f"The file '{file_name}' does not exist.")

The file 'example.txt' has been successfully created.

### First Exrcise

In [1]:
print('Hello all')

Hello all